
.awshclsLogo{
  width: 180px;
}


@media only screen and (max-width: 768px) {
  .navbar-brand.title{
    font-size: 1.25em !important;
  }
  
  .App .facets  {
      font-size: .75rem;
  }
  
  .App .awshclsLogo{
    width: 100px;
  }

  
  .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
  }
  
  .App .row {
    display: flex;
    flex-wrap: nowrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  
  .App h5{
  
    font-size: 1rem;
  }
  
  .App .companyRow{

    display: flow-root;
      
    
  }
  
  .App .whatThisIsCopy{
    
    display: none;
    
  }
  
  
  .companyIcon img{
    
   
    margin-bottom: 10px;
    
  }
}


.navbar{
  padding: 0px !important;
}

.App .companyRow .emailButton  {
  color: white;
  margin-bottom: 5px;
  
}


.whatThisIsCopy {
  margin-bottom: 15px;  
}

.companyDescriptionColumn{
  
  width: 100%;
}

.container{
  margin-top: 10px;
}


.navbar-brand.title{
  font-size: 2em;
}

.companyRow:nth-child(even){
  
  
}

.companyIcon img{
  
  width: 100px;
  margin-right: 10px;
  
}

.companyRow{
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  
}

html, body { font-family: "Amazon Ember", "Helvetica", "sans-serif" !important; margin: 0; }
.App a { color: #FF9900 }
h1 { font-weight: 300 !important; }
