



@media only screen and (max-width: 768px) {
  .navbar-brand.title{
    font-size: 1.25em !important;
  }
  
  .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
  }
  
  .App .row {
    display: flex;
    flex-wrap: nowrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  
  .App h5{
  
    font-size: 1rem;
  }
  

}


.emailColumn .emailButton {
  
  display: inline;
}




.App .companyRow .emailButton a {
  color: white;
  margin-bottom: 5px;
  display: block;
}



.container{
  margin-top: 10px;
}


.navbar-brand.title{
  font-size: 2em;
}

.companyRow:nth-child(even){
  
  
}


.companyRow img{
  
  width: 100%;
}


.companyRow{
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  
}

html, body { font-family: "Amazon Ember", "Helvetica", "sans-serif" !important; margin: 0; }
.App a { color: #FF9900 }
h1 { font-weight: 300 !important; }
